* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ==================== variables ==================== */

:root {
    --clr-1: #ffb606;
    --clr-white : #f7f7f7;
    --box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* ==================== header / navbar menu ==================== */

.global-header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: var(--box-shadow);
    transition: transform 0.5s ease-in-out;
}

.header-row {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    opacity: 1;
    transition: 0.5s ease;
}

.global-logo img {
    width: 4rem;
    border-radius: 50%;
}

.nav-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

ul {
    font-size: 13px;
    line-height: 21px;
}

li {
    display: inline-block;
    margin-right: 28px;
    padding-bottom: 22px;
    position: relative;
}

li > a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #252222;
    font-weight: bold;
}

.nav-menu ul li:first-child {
    margin-right: 10px;
}

/*
===================================
another way for animation border-bottom
===================================
*/

/*.nav-menu li {*/
/*    transition: all 0.3s linear;*/
/*    border-bottom: 3px solid transparent;*/
/*}*/

/*.nav-menu li:hover {*/
/*    border-bottom: 3px solid var(--clr-1);*/
/*}*/

.header-btn {
    position: absolute;
    left: 0;
    background-color: var(--clr-1);
    color: var(--clr-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: var(--box-shadow);
}

.header-btn span {
    margin-right: 1rem;
}


.highlight {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-1);
    height: 4px;
    z-index: 1000;
    transition: 0.3s all linear;
}


/* ==================== dropdown ==================== */

.sub-nav {
    background-color: var(--clr-white);
    border-radius: 0.3rem;
    box-shadow: var(--box-shadow);
    display: none;
    position: absolute;
    padding: 1rem;
    top: 100%;
    width: 30rem;
    /*display: flex;*/
    justify-content: space-between;
    transition: all 0.3s linear;
}

.sub-nav::after {
    content: '';
    bottom: 100%;
    left: 140px;
    width: 0;
    height: 0;
    position: absolute;
    right: 105px;
    pointer-events: none;
    border: solid rgba(252, 252, 252, 0);
    border-bottom-color: var(--clr-white);
    border-width: 20px;
    border-radius: 2px;
}

.sub-nav-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.sub-nav-box {
    background-color: var(--clr-white);
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.box-icon {
    font-size: 2rem;
    background-color: #252225;
    color: var(--clr-white);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-1 {
    background-color: #7e3ef3;
}

#icon-2 {
    background-color: #fe4242;
}

#icon-3 {
    background-color: #2ee1f9;
}

#icon-4 {
    background-color: #2ef968;
}

/* ==================== popup ==================== */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1002;
    transition: all 0.3s linear;
}

.popup-content{
    min-width: 50%;

}

.popup-header {
    background-color: var(--clr-white);
    border: 1px solid #f0f0f0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-header i{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}
